# ========== Unity Generated Folders ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
ExportedObj/
sysinfo.txt

# ========== Unity Asset Meta Files ==========
*.pidb
*.pidb.meta
*.pdb
*.pdb.meta
*.mdb
*.mdb.meta
*.opendb
*.VC.db
*.suo
*.tmp
*.user
*.userprefs
*.booproj
*.svd
*.blend1
*.blend1.meta
*.csproj
*.unityproj
*.sln

# ========== IDE/Editor/Build Tools ==========
.vs/
.gradle/
.consulo/
*.DotSettings.user

# ========== Unity Packages & Builds ==========
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties

# ========== Addressables & Visual Scripting ==========
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta
/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*
InitTestScene*.unity*

# ========== JetBrains Rider ==========
/[Aa]ssets/Plugins/Editor/JetBrains*